/* line 83, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p + p {
  text-indent: 2em;
  margin-top: -1.5em;
  /* Don't want this in forms. */
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
form body p + p {
  text-indent: 0;
}
/* line 85, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p.incr,
body .incr p {
  font-size: 0.833em;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}
/* line 12, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .caps, body .allcaps, body h1, body h2, body caption, body .smallcaps, body h4 {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
/* line 13, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .dquo {
  margin-left: -0.5em;
}
/* line 14, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

/* line 53, ../src/_base.scss */
header.logo h1, header.logo span {
  display: none;
}
/* line 54, ../src/_base.scss */
header.logo img {
  width: 600px;
}

/* line 57, ../src/_base.scss */
body {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* incase an inverted custom gradient isn't specified */
/* line 4, ../src/_nav.scss */
nav.main ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 2.4%;
}
/* line 5, ../src/_nav.scss */
nav.main ul a {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/warden/images/button_bg.png?1285225473') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 1px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  background-image: linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
}
/* line 172, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 175, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a:focus {
  outline: none;
}
/* line 178, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a.disabled, nav.main ul a[disabled] {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 183, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a.disabled:hover, nav.main ul a.disabled:focus, nav.main ul a[disabled]:hover, nav.main ul a[disabled]:focus {
  cursor: default;
}
/* line 152, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 156, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a.disabled:active, nav.main ul a[disabled] {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 98, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a, nav.main ul a:visited {
  color: white;
}
/* line 26, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a.disabled:active, nav.main ul a.disabled:hover, nav.main ul a[disabled]:active, nav.main ul a[disabled]:hover {
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  background-image: linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
}
/* line 98, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a.disabled:active, nav.main ul a.disabled:active:visited, nav.main ul a.disabled:hover, nav.main ul a.disabled:hover:visited, nav.main ul a[disabled]:active, nav.main ul a[disabled]:active:visited, nav.main ul a[disabled]:hover, nav.main ul a[disabled]:hover:visited {
  color: white;
}
/* line 28, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a:hover, nav.main ul a:focus {
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #919191), color-stop(10%, #636363), color-stop(50%, #353535), color-stop(50%, #2d2d2d), color-stop(100%, #474747));
  background-image: -moz-linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  background-image: linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
}
/* line 98, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a:hover, nav.main ul a:hover:visited, nav.main ul a:focus, nav.main ul a:focus:visited {
  color: white;
}
/* line 33, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a:active {
  background-color: #353535;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #353535), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #282828), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  background-image: linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  border-color: #0e0e0e;
  text-shadow: black 0px -1px -1px;
}
/* line 98, ../../../.rvm/gems/ruby-1.8.7-p299/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
nav.main ul a:active, nav.main ul a:active:visited {
  color: white;
}
/* line 51, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
nav.main ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 43, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
nav.main ul li:first-child, nav.main ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
nav.main ul li:last-child, nav.main ul li.last {
  padding-right: 0px;
}

/* line 11, ../src/_nav.scss */
nav.main {
  padding-bottom: 1.5em;
  border-bottom: 5px groove gray;
  margin-bottom: 1.5em;
}

/* Reset --------------------------------------------------------------*/
/* line 14, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 16, ../src/_defaults.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../src/_defaults.scss */
.serif, body {
  font-family: Cambria, Georgia, serif;
}

/* line 23, ../src/_defaults.scss */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 26, ../src/_defaults.scss */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 29, ../src/_defaults.scss */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 32, ../src/_defaults.scss */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 36, ../src/_defaults.scss */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 42, ../src/_defaults.scss */
body {
  color: #efefef;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 55, ../src/_defaults.scss */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 60, ../src/_defaults.scss */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 68, ../src/_defaults.scss */
a:link, a:visited {
  color: #005498;
}
/* line 70, ../src/_defaults.scss */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 72, ../src/_defaults.scss */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: none;
}
/* line 75, ../src/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 80, ../src/_defaults.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 83, ../src/_defaults.scss */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 90, ../src/_defaults.scss */
h3 {
  font-weight: bold;
}

/* line 93, ../src/_defaults.scss */
h4 {
  text-transform: lowercase;
}

/* line 97, ../src/_defaults.scss */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 102, ../src/_defaults.scss */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 105, ../src/_defaults.scss */
strong, dfn, b {
  font-weight: bold;
}

/* line 108, ../src/_defaults.scss */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 112, ../src/_defaults.scss */
sup {
  vertical-align: super;
}

/* line 115, ../src/_defaults.scss */
sub {
  vertical-align: sub;
}

/* line 118, ../src/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 122, ../src/_defaults.scss */
ins {
  text-decoration: underline;
}

/* line 125, ../src/_defaults.scss */
del {
  text-decoration: line-through;
}

/* line 128, ../src/_defaults.scss */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 133, ../src/_defaults.scss */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 136, ../src/_defaults.scss */
q {
  font-style: italic;
}
/* line 138, ../src/_defaults.scss */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 146, ../src/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 149, ../src/_defaults.scss */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 156, ../src/_defaults.scss */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 162, ../src/_defaults.scss */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 169, ../src/_defaults.scss */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 173, ../src/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 176, ../src/_defaults.scss */
ul {
  list-style: disc;
}
/* line 178, ../src/_defaults.scss */
li ul {
  list-style-type: circle;
}

/* line 181, ../src/_defaults.scss */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 185, ../src/_defaults.scss */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 191, ../src/_defaults.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 197, ../src/_defaults.scss */
table, td, th {
  vertical-align: top;
}

/* line 200, ../src/_defaults.scss */
th, thead th {
  font-weight: bold;
}

/* line 203, ../src/_defaults.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 208, ../src/_defaults.scss */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 211, ../src/_defaults.scss */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 219, ../src/_defaults.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 223, ../src/_defaults.scss */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 227, ../src/_defaults.scss */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 230, ../src/_defaults.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 233, ../src/_defaults.scss */
label {
  font-weight: bold;
}

/* line 238, ../src/_defaults.scss */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #efefef;
  height: 2.571;
}

/* line 249, ../src/_defaults.scss */
textarea {
  height: 11.143;
  vertical-align: text-bottom;
}

/* line 260, ../src/_defaults.scss */
input[type=search] {
  -webkit-appearance: none;
}
/* line 262, ../src/_defaults.scss */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 265, ../src/_defaults.scss */
button {
  width: auto;
  overflow: visible;
}

/* Layout -------------------------------------------------------------- */
/* line 29, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-susy-plugin-0.8.0/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-susy-plugin-0.8.0/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 11, ../src/screen.scss */
html body {
  background-color: #6A6A6A;
}

/* line 17, ../src/screen.scss */
.container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 62.5em;
  max-width: 100%;
  background-image: url('/images/grid.png?1285185764');
  background-repeat: repeat;
  background-position: 1.5em 0;
  background-color: black;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* Styles -------------------------------------------------------------- */
@import url(css3/box-shadow.css);
/* line 31, ../src/screen.scss */
.container {
  margin: auto;
  -moz-box-shadow: #333333 5px 5px 5px 0;
  -webkit-box-shadow: #333333 5px 5px 5px 0;
  -o-box-shadow: #333333 5px 5px 5px 0;
  box-shadow: #333333 5px 5px 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 36, ../src/screen.scss */
.container .content {
  display: inline;
  float: left;
  width: 67.2%;
  margin-right: 0.8%;
  margin-left: 2.4%;
}
/* line 41, ../src/screen.scss */
.container aside {
  display: inline;
  float: left;
  width: 23.2%;
  margin-right: 0.8%;
  display: inline;
  float: right;
  margin-right: 2.4%;
  #margin-left: -0.5em;
}

/* line 48, ../src/screen.scss */
ul.features {
  margin-left: 0;
  line-height: 2.3em;
}
/* line 29, ../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
ul.features li {
  padding-left: 36px;
  background: url('warden/images/tick.png?1285241363') no-repeat 0px 0px;
  list-style-type: none;
}
